<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="51377FooProject.404123402F54A" Publisher="CN=224662AF-5ED0-4C7C-8B20-13E2E5ECF61F" Version="1.25.31.0" />
  <mp:PhoneIdentity PhoneProductId="5ae4027c-fa57-4895-9806-b04fc4e5abfe" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>FooEditor</DisplayName>
    <PublisherDisplayName>FooProject</PublisherDisplayName>
    <Logo>Assets\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FooEditor.UWP.App">
      <uap:VisualElements DisplayName="FooEditor" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="シンタックスハイライトが可能なテキストエディターです。正規表現による検索・矩形編集、折り畳み、ワードラップもサポートしています" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png" ShortName="FooEditor">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="fooeditor-supportfiles">
            <uap:DisplayName>FooEditor</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.txt</uap:FileType>
              <uap:FileType>.htm</uap:FileType>
              <uap:FileType>.html</uap:FileType>
              <uap:FileType>.c</uap:FileType>
              <uap:FileType>.cs</uap:FileType>
              <uap:FileType>.cpp</uap:FileType>
              <uap:FileType>.h</uap:FileType>
              <uap:FileType>.java</uap:FileType>
              <uap:FileType>.js</uap:FileType>
              <uap:FileType>.php</uap:FileType>
              <uap:FileType>.py</uap:FileType>
              <uap:FileType>.rb</uap:FileType>
              <uap:FileType>.vb</uap:FileType>
              <uap:FileType>.xml</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient"/></Capabilities>
</Package>